## Semana 07
**Jairo Daniel Mendoza Torres**
### Temas:
1. Numeros
2. Variables
3. Manejo de cadenas
4. Ingreso de Datos por el teclado
5. Operadores

***5. Operadores***

In [1]:
# 5.1 Operadores aritméticos
# Se tiene: +, -, *, /, **, %, //

In [5]:
numero1 = 10
numero2 = 3
suma = numero1 + numero2
resta = numero1 - numero2
multiplicacion = numero1 * numero2
division = numero1 / numero2
residuo = numero1%numero2
potencia = numero1**numero2
cociente = numero1//numero2

print(suma)
print(resta)
print(multiplicacion)
print(division)
print(residuo)
print(potencia)
print(cociente)

13
7
30
3.3333333333333335
1
1000
3

In [6]:
# 5.2 Operadores de asignación
# Se tiene : =, +=, -=, *=, /=, **=
numero = 5
numero = numero + 3
print(numero)

8

In [8]:
# La operación anterior tambien se puede expresar de las siguiente manera:
numero = 5
numero += 3
print(numero)

8

In [10]:
# Lo mismo se puede hacer con todos los casos, incluso la potencia
# Veamos otro ejemplo 
numero = 5
numero = numero ** 3
print(numero)

125

In [11]:
# Las operación anterior tambien se puede expresar de la siguiente manera: 
numero = 5
numero **= 3
print(numero)

125

In [14]:
# 5.3 Operadores de comparación
# Se tiene: ==, !=, <, >, <=, >=
numero1 = 5
numero2 = 2
numero1 == numero2

False

In [15]:
# COn las cadenas funciona igual
nombre1 = "jairo"
nombre2 = "jairo"
nombre1 == nombre2

True

In [18]:
# 5.4 Operadores lógicos
# Se tiene and, or, not
numero1 = 5
numero2 = 6
numero3 = 7
numero4 = 8

In [19]:
numero1 < numero2

True

In [20]:
# EL not invierte el resultado
not(numero1 < numero2)

False

In [21]:
numero1<numero2 and numero3<numero4

True

In [22]:
# Tambien puedes utilizar parentesis para odenar tu operación
(numero1<numero2 and numero3< numero4) or (numero3>numero4)

True

In [23]:
# 5.5 Operadores de Pertenencia 
# Se tiene: inm not in

In [24]:
# Miremos un ejemplo:
aula = ["Jairo", "Daniel", "Armando"]
alumno1 = "Jairo"
alumno2 = "Daniel"

In [25]:
# ¿Jairo esta en el aula?
alumno1 in aula

True

In [27]:
# ¿Daniel esta en aula?
alumno2 in aula

True

In [29]:
# ¿Jairo no esta en aula?
alumno1 not in aula

False

In [30]:
# ¿Daniel no esta en aula?
alumno2 not in aula

False

In [31]:
# 5.6 Operadores de indentidad 
# Se tiene: is, is not

In [32]:
aula1  = ["Juan", "Daniel", "Ruben"]
aula2  = ["Juan", "Daniel", "Ruben"]
# A continuación vamos a indicar que  aula3 va a compartir el mismo objeto que aula1
aula3  = aula1

In [33]:
# ¿Aula 3 comparte el mismo objeto que aula1?
aula3 is aula1

True

In [34]:
# ¿Aula 3 comparte el mismo objeto que aula2?
aula3 is aula2

False

In [35]:
# ¿aula2 comparte el mismo objeto que con aula1?
aula2 is aula1

False

In [36]:
aula1.append("Diego")

In [37]:
# Al imprimir los elementos de la lista aula1 se observa
print (aula1)

['Juan', 'Daniel', 'Ruben', 'Diego']

In [41]:
# Al imprimir los elementos de la lista aula3 se observa
print(aula3)

['Juan', 'Daniel', 'Ruben', 'Diego']

In [43]:
# Al imprimir los elementos de la lista aula2 se observa
print(aula2)

['Juan', 'Daniel', 'Ruben']