# Semana 07
Jairo Daniel Mendoza Torres
## Temas:
1. Numeros
2. Variables
3. Manejo de cadenas
4. Ingreso de Datos por el teclado
5. Operadores

In [2]:
# Siempre deben iniciar con una letra o un guión abajo. (Nunca con un número u otro símnbolo)

In [3]:
edad = 21

In [4]:
edad

21

In [5]:
nombre = "Jairo"

In [6]:
apellido = "Mendoza Torres"

In [7]:
apellido

'Mendoza Torres'

In [8]:
nombrecompleto = nombre + apellido
nombrecompleto

'JairoMendoza Torres'

In [10]:
nombrecompleto = nombre + " " + apellido
nombrecompleto

'Jairo Mendoza Torres'

In [21]:
# Para saber el tipo de variable utilizamos la función type()
numero = 50
print(numero)
type(numero)

50

int

In [ ]:
talla = 1.75
print(talla)
type(talla)

In [17]:
#para convertir un numero en cadena utilizamos str()
numero = 100
cadena = str(numero)
cadena

'100'

In [18]:
type(cadena)

str

In [23]:
# Para convertir una cadena en un entero utilizamos int()
cadena2 = "50"
numero2 =float(cadena2)
numero2

50.0

In [24]:
type(numero2)

float